 # OpenComputers access transformer config
public net.minecraft.world.level.block.piston.PistonBaseBlock m_60181_(Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/core/Direction;Z)Z # moveBlocks
public-f net.minecraft.world.entity.player.Player f_36095_ # inventoryMenu
public-f net.minecraft.world.entity.player.Player f_36093_ # inventory
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity f_58316_ # litTime
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity f_58317_ # litDuration
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity f_58318_ # cookingProgress
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity f_58319_ # cookingTotalTime
public net.minecraft.world.level.block.entity.BeaconBlockEntity f_58653_ # secondaryPower
public net.minecraft.world.level.block.entity.BeaconBlockEntity f_58652_ # primaryPower
public net.minecraft.world.level.block.entity.BrewingStandBlockEntity f_58976_ # brewTime
public net.minecraft.world.level.block.entity.SignBlockEntity f_59720_ # messages
public net.minecraft.world.level.BaseSpawner m_45475_()Lnet/minecraft/resources/ResourceLocation; # getEntityId
public net.minecraft.server.MinecraftServer f_129747_ # proxy